
/*  
#055c9d 	azul
#f5f7fa 	cinza
#FFFFFF 	branco
#000000   texto
 */
body{
  margin:0 auto;
  padding: 0;
  font-family: "Lato", sans-serif;
  /* background-color: #f5f7fa; */
}

.main{
  background-color: #fff;
}

.lato-thin {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .lato-light {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  /* HEADER */
  .header-list-icons{
    height: 40px;
  }

  /* FOOTER */
  footer{
    background-color: #055c9d;
    color: #fff;
    display: flex;
    height: 120px;
  }